<h2>Blocos</h2>
<hr>

<form action="" class="form-inline">
  <div class="form-group mb-2">
    <input type="text" class="form-control mr-2" placeholder="buscar">
    <button class="btn btn-outline-success">Buscar</button>
  </div>
</form>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Imagem</th>
      <th>Nome</th>
      <th>Local</th>
      <th>Status</th>
      <th>Aulas</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bloco of blocos">
      <td>{{bloco.id}}</td>
      <td>{{bloco.imageURL}}</td>
      <td>{{bloco.nome}}</td>
      <td>{{bloco.local}}</td>
      <td>{{bloco.statusBloco}}</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
